<div class="header">
  <h1>
    <a href="/">Guillaume Gouessan</a>
  </h1>
  <h2>Interactive Developer</h2>
  <ul class="nav">
    <li><a href="/">Work</a></li>
    <li><a href="/lab">Lab</a></li>
    <li><a href="/about">About</a></li>
  </ul>
  <ul class="socials">
    <li><a target="_blank" href="http://twitter.com/superguigui">Twitter</a></li>
    <li><a target="_blank" href="http://github.com/superguigui">Github</a></li>
    <li><a target="_blank" href="http://linkedin.com/pub/guillaume-gouessan/5b/696/611">Linkedin</a></li>
  </ul>
</div>